version: '2'
services:
  postgres:
    image: postgres:12
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file: .env
  django:
    build: .
    volumes:
      - .:/code
      - /var/www:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      - DJANGO_SETTINGS_MODULE=cbb.settings.production
    command: "/usr/local/bin/gunicorn cbb.wsgi:application -w 2 -b 0.0.0.0:8000 --keyfile=/etc/ssl/private/cbbdb.uib.es.key --certfile=/etc/ssl/certs/cbbdb.uib.es_2024.cer -k uvicorn.workers.UvicornWorker"
    env_file: .env

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /var/www:/var/www
    ports:
      - "80:80"
    depends_on:
      - django


volumes:
  db-data: