version: '2'
services:
  django_wsgi:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      - DJANGO_SETTINGS_MODULE=cbb.settings.developer
#    command: "/usr/local/bin/gunicorn cbb.wsgi:application -w 2 -b 0.0.0.0:8000 -u root --pid /tmp/gunicorn.pid --reload"
    command: /usr/local/bin/python /code/manage.py runserver 0.0.0.0:8000
    env_file: .env

  postgres:
    image: postgres:12
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file: .env

volumes:
  db-data: