version: '2'
services:
  postgres:
    image: postgres:12
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file: .env
  django:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      - DJANGO_SETTINGS_MODULE=cbb.settings.production
    command: /usr/local/bin/python /code/manage.py runserver 0.0.0.0:8000
    env_file: .env

volumes:
  db-data: