version: '2'
services:
  django:
    build: .
    volumes:
      - .:/code
      - /var/www:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - postgis
    environment:
      - DJANGO_SETTINGS_MODULE=cbb.settings.production
    command: "/usr/local/bin/uvicorn cbb.asgi:application --workers 65 --host 0.0.0.0 --port 8000"
    env_file: .env