version: '2'
services:
  django:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=cbb.settings.developer.tomas
    command: /usr/local/bin/python /code/manage.py runserver 0.0.0.0:8000
    env_file: .env

volumes:
  db-data: